extends layout

block content
  h1 #{page_title}: #{book.title}

  if book_instances.length

    p #[strong Delete the following bookinstances before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Book Instances

      dl
      each instance in book_instances
        dt
          a(href=instance.url) #{instance.imprint}
        

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete
